body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
    background-image: url(bg.jfif);
}
ul{
    margin-top: 30px;
}
#header li{
    width: 40px;
    height: 20px;
    float: right;
    list-style-type: none;
    padding: 5px;
}
#header li:nth-child(2){
    background:url(app3.png) no-repeat ;
    background-size: 30px;
    margin-left: 20px;
    margin-right:-5px;
}
button{
    background-color: blue;
    color: white
    border: 1px solid;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 5px;
    margin-top: -10px;
    cursor: pointer;
}
li:hover{
    cursor: pointer;
}
#content img{
    width: 350px;
    height: 150px;
    margin-top: 100px;
    margin-left: 250px;
}
.textBox {
    width: 500px;
    height: 40px;
    border: 1px solid #6c66af;
    border-radius:25px;
}
.button2 {
    color: black;
    font-size: 13px;
    background-color: #f5f;
    border: 1px solid #d8d8d8;
    box-shadow: 1px 3px 5px black;
}
#footer{
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d8d8d8;
}

#footer li{
    width: 40px;
    height: 20px;
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 13px;

   
}
#left li{
    float:left;
    margin-right: 40px;
}
#right li{
    float:right;
    margin-right: 15px;
}